# Valohai utilities for handling output data in the script
valohai-utils

# Helper for creating dummy data for demo purposes
faker

# Command-line utility for creating valohai.yaml and running executions
# Optional: uncomment if you want to use the CLI
#valohai-cli
